.style__switcher {
    position: fixed;
    left: 0;
    top: 10%;
    background-color: var(--text-white);
    width: 180px;
    padding: 15px;
    box-shadow: 0 0 2px gray;
    z-index: 5;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.style__switcher,
.switch__toggler,
.theme__toggler {
    border-radius: 0 5px 5px 0;
}

.switcher__items {
    width: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    row-gap: 8px;
}

.switcher__title,
.switch__toggler,
.theme__toggler,
.switcher__close {
    color: black;
}

.switcher__title {
    width: 130px;
    font-size: var(--small-size-font);
    font-weight: var(--weight-600);
    border-bottom: 1px solid hsl(0, 0%, 30%);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.theme__img {
    width: 30px;
    cursor: pointer;
}

.switch__toggler,
.theme__toggler {
  position: absolute;
  left: 100%;
  background-color: var(--text-white);
  height: 50px;
  width: 50px;
  font-size: var(--large-font-size);
  cursor: pointer;
  display: grid;
  place-items: center;
  box-shadow: gray;
  transition: all 0.5s ease;
}

.switch__toggler {
  top: 10%;
}

.theme__toggler {
  bottom: 10%;
}

.switcher__close {
    cursor: pointer;
    font-size: var(--h2-font-size);
    position: absolute;
    top: 0;
    right: 15px;
}

.show-switcher {
    transform: translateX(0);
}

.show-switcher .switch__toggler,
.show-switcher .theme__toggler {
    left: -100%;
}
