.style__switcher {
    position: fixed;
    left: 0;
    top: 10%;
    background-color: var(--text-white);
    width: 220px;
    padding: 15px;
    box-shadow: 0 0 4px hsl(0,0,80%);
    z-index: 5;
}

.style__switcher,
.switch__toggler,
.theme__toggler {
    border-radius: 0 5px 5px 0;
}

.switcher__items {
    width: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    row-gap: 8px;
}

.switcher__title,
.switch__toggler,
.theme__toggler,
.switcher__close {
    color: hsl(0,0,40%);
}

.switcher__title {
    font-size: var(--small-size-font);
    font-weight: var(--weight-600);
    border-bottom: 1px solid hsl(0, 0%, 30%);
    padding-bottom: 5px;
    margin-bottom: 15px;
}
